:root{
    --primary-grey:#D9D9D950;
    --primary-pink:#F9A2A2;
    --primary-reddish:#C06060;
    --shade-hover-pink:#F06B6B;
    --shade-hover-grey: #8F8F8F50;
    --secondary-pink:#C06060;
}
/* Color */