/* container untuk register tidak ada section2 */
#main-container{
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
}

/* padding dan z index untuk navigation bar */
#navbar{
    padding: 1.5rem 3rem;
    z-index: 9999;
}

/* image untuk top right */
#bg-img{
    position: absolute;
    top: -5px;
    width: 40vw;
    right: -5px;
}

/* image untuk bottom left */
#bg-img-botleft{
    position: absolute;
    bottom: -5px;
    width: 35vw;
    left: -5px;
}